body
{
    margin: 0;
}
.item
{
    background-color: lightcoral;
    margin-right: 16px;
    margin-bottom: 16px;
    padding: 32px;
    font-size: 24px;
    text-align: center;
}
/* for rows */
#container
{
    width: 100vw;
    max-width: 100%;
    background-color: lightblue;
    padding: 32px;
    display: flex;
    /* row or row-reverse */
    flex-direction: row-reverse;
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: flex-start; */
    justify-content: flex-end;
    /* flex-wrap: wrap; */
    /* flex-wrap: nowrap; */
    flex-wrap: wrap-reverse;
}
/* for columns */
#container2
{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-color: lightblue;
    padding: 32px;
    display: flex;
    /* column or column-reverse */
    flex-direction: column-reverse;
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: flex-start; */
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    flex-wrap: wrap-reverse;
}