h1
{
    color: blue;
    text-shadow: 10px 10px 5px gray;

    text-shadow: 6px 6px 2px red, 12px 12px 2px green;

    width: 300px;
    height: 400px;
    border-radius: 4px;
    background-color: yellow;
    box-shadow: 12px 12px 10px black;
}