div
{
    width: 500px;
    height: 500px;
    border: 4px dotted blue;
    margin-top: 30px;
    margin-bottom: 30px;
}
h1{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
p
{
    /* word-break: break-all; */
    word-wrap: break-word;
}